{% extends 'base.html.twig' %}

{% block title %}New Streaming{% endblock %}

{% block body %}
    <h1>Create new Streaming</h1>

    {{ include('streaming/_form.html.twig') }}

    <a href="{{ path('streaming_index') }}">back to list</a>
{% endblock %}
